@page "/about"
@using MovieRental.Frontend.Components.Pages.LayoutsPages
@rendermode InteractiveServer


<PageTitle>About</PageTitle>

<CascadingAuthenticationState>

	<nav>
		<NavMenu></NavMenu>
	</nav>

	<main>
		<h1>About</h1>
		<p>
            <strong>Disclaimer:</strong> This website is a fictional project created for educational purposes only. It is not intended for real-world use, and any data entered into the site may not be secure. Please do not use real personal information when interacting with the application. The site is designed to demonstrate web development concepts and technologies, and should not be considered a fully secure or production-ready application. Any purchases made on this site are purely fictional, and no actual movies will be delivered.
        </p>
		<p>
			Movie Rental is a movie rental application that allows users to browse the latest releases, cinema classics,
			and many other movies.
			With our application, you can easily find and rent your favorite movies, as well as discover new titles.
		</p>
		<h3>Creators</h3>
		<p>
			This application was created by: Piotr Zarzycki
		</p>
		
	</main>

</CascadingAuthenticationState>

@code {

}