@page "/"
@using MovieRental.Frontend.Components.Layout
@using MovieRental.Frontend.Components.Pages.LayoutsPages

@rendermode InteractiveServer
@layout MainLayout

<CascadingAuthenticationState>
	<PageTitle>Home</PageTitle>
	<nav>
		<NavMenu></NavMenu>
	</nav>

	<main>
		<AuthorizeView Context="context">
			<Authorized>
				<h1>Welcome, @context.User.Identity?.Name!</h1>
				<p>
					Movie Rental is a movie rental application. You can find the latest premieres, cinema classics and many
					other movies.
				</p>
				<p>
					<a href="/profile">See your favorite movies</a>
				</p>
			</Authorized>
			<NotAuthorized>
				<h1>Welcome to Movie Rental!</h1>
				<p>
					Movie Rental is a movie rental application. You can find the latest premieres, cinema classics and many
					other movies.
				</p>
				<p>
					<a href="/register">register</a> or <a href="/login">login</a> to start using the application.
				</p>
			</NotAuthorized>
		</AuthorizeView>




	</main>
</CascadingAuthenticationState>

@code {

}
