
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.validation-message {
	color: red;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #f4f7f9;
	color: #333;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.main-layout {
	width: 90%;
	max-width: 1400px;
	background: white;
	padding: 20px;
	border-radius: 15px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	margin-top: 20px;
	min-height: 95vh;
}

header {
	width: 100%;
	background: linear-gradient(135deg, #007bff, #6610f2);
	color: white;
	padding: 20px;
	text-align: center;
	border-radius: 15px 15px 0 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	font-size: 24px;
	font-weight: bold;
}

.navbar {
	background: white;
	padding: 15px;
	border-radius: 0 0 15px 15px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar .navbar-nav .nav-link {
	color: #333;
	transition: all 0.3s ease-in-out;
	padding: 12px 20px;
	border-radius: 10px;
	font-size: 16px;
	font-weight: 500;
}

.navbar .navbar-nav .nav-link:hover {
	background: #007bff;
	color: white;
}

.navbar-toggler {
	border: none;
	background: linear-gradient(135deg, #007bff, #6610f2);
	padding: 10px;
	border-radius: 10px;
}

.navbar-toggler-icon {
	filter: invert(1);
}

.card {
	background: white;
	border-radius: 15px;
	padding: 20px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-title {
	text-align: center;
}

.btn-primary {
	background: linear-gradient(135deg, #007bff, #6610f2);
	border: none;
	padding: 12px 20px;
	border-radius: 10px;
	font-weight: bold;
	color: white;
	transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
	filter: brightness(1.1);
}

main {
	padding-top: 20px;
}

main h1, h3 {
	text-align: center;
	padding-bottom: 30px;
}

p {
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 15px;
	color: #444;
	max-width: 800px;
	text-align: center;
	margin: 0 auto;
}

ul, ol {
	text-align: center;
	padding-left: 20px;
	margin-bottom: 15px;
}

li {
	text-align: center;
	font-size: 16px;
	margin-bottom: 5px;
	color: #555;
}

/* Responsywność */
@media (max-width: 768px) {
	.navbar-collapse {
		text-align: center;
	}

	.navbar-nav {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.navbar-nav .nav-item {
		width: 100%;
		margin: 5px 0;
		text-align: center;
	}
}

main p {
	text-align: center;
	margin-top: 20px;
}

.movie {
	transition: transform 0.3s;
}

.movie:hover {
	cursor: pointer;
	transform: scale(1.1);
	z-index: 0;
}

header:focus,
header:focus-visible,
h1:focus,
h1:focus-visible {
	outline: none;
}

.loading-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(158, 158, 158, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	pointer-events: none;
}
.loading-overlay.show {
	opacity: 1;
	pointer-events: auto;
}
.img-fluid {
	max-width: 100%;
	height: auto;
}

